* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

main {
    position: relative;
    height: 100%;
    margin: 0px auto 0px auto;
}

header {
    text-align: center;
    padding: 0px;
    position: relative;
}

nav {
    width: 90%;
    height: 50px;
    margin: auto auto 0px 4.5%;
    text-align: center;
    background-color: peru;
}

section {
    position: relative;
    padding: 0px;
}

aside {
    position: relative;
    width: 40%;
    height: 750px;
    padding: 50px 50px 50px 50px;
    float: left;
}

article {
    position: relative;
    width: 40%;
    height: 750px;
    padding: 50px 50px 50px 50px;
    float: left;
}

footer {
    text-align: center;
    clear: both;
    margin-top: 700px;
}

li {
    display: inline-block;
    margin: auto 0 auto auto;
}

.background {
    width: 100%;
    height: 750px;
    text-align: center;
}

.icon {
    width: 70px;
    margin-right: auto;
}

.background_image {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #f3af1b;
}

#icon {
    width: 47px;
}