* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

main {
    position: relative;
    height: 100%;
    margin: 0px auto 0px auto;
}

body {
    background: url("img/madeira.png");
    background-size: cover;
    color: #ffffff;
}

header {
    text-align: center;
    padding: 0px;
    position: relative;
}

nav {
    width: 90%;
    height: 50px;
    margin: auto auto 0px 4.5%;
    text-align: center;
    background-color: peru;
}

section {
    position: relative;
    padding: 0px;
    width: 100%;
}

aside {
    position: relative;
    width: 40%;
    height: 750px;
    padding: 50px 50px 50px 50px;
    float: left;
    font-size: 1.5em;
}

article {
    position: relative;
    width: 40%;
    height: 750px;
    padding: 50px 50px 50px 50px;
    float: left;
}

footer {
    text-align: center;
    clear: both;
    margin-top: 700px;
}

ul li {
    display: inline-block;
}

ol {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: #a9fc94;
    width: 100px;
    height: 50px;
    margin-left: 15px;
    border-radius: 10px;
}

button:hover {
    background-color: #85fc67;
    border: 2px solid #264e1c;
}

hr {
    background-color: #ffffff;
    color: #ffffff;
    height: 25px;
    position: relative;
    width: 100%;
}

p {
   font-size: 1.5em;
}

.background {
    width: 100%;
    height: 750px;
    text-align: center;
}

.banner {
    width: 40%;
    height: 900px;
    margin: 10px auto auto 700px;
}

.text_banner {
    width: 250px;
    height: 95%;
    float: left;
}

.img_banner {
    width: 500px;
    height: 500px;
    float: right;
}

.icon {
    width: 70px;
    margin-right: auto;
}

.image_view {
    width: 100%;
    height: 60%;
}

#icon {
    margin: 5px auto auto auto;
    width: 30px;
}

.box {
    float: left;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
}
